<div class="container text-center show-box mt-5" style="margin: 5vh auto">
<h2>Edit <%= resource_name.to_s.humanize %> profile</h2>

<div class="container-edit">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-style">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", hint_html: {class: 'form-text small'}, required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", hint_html: {class: 'form-text small'}, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
</div>
<br>

<h3>Unhappy?</h3>
<button type="button" class="btn"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></button>
<br>
<div style="margin-top: 2em"><%= link_to "Back", :back %></div>
</div>
