<div class="container adminlogin text-center show-box mt-5">
  <h2>Log in</h2>
  <p>Please log in using the email and password given below.</p>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="container-adminlogin">
        <div class="form-inputs form-style form-outline">
          <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "admin@gmail.com" %>
          <%= f.input :password, required: false, label: false, placeholder: "password123" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      </div>
    <% end %>
    <br>
    <%= render "admins/shared/links" %>
</div>
